
.volver-btn {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 10px;
}

.volver-btn:hover {
    background-color: #333;
}


.tabs-vertical-container {
    display: flex;
    align-items: stretch;
    min-height: 100vh; /* ocupa toda la altura de la ventana */
    background-color: #98bdc3;
}


.tabs-vertical {
    display: flex;
    flex-direction: column;
    width: 17%;
    background-color: #98bdc3;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.tab-vertical {
    background: #2f7891;
    border: none;
    padding: 12px 16px;
    text-align: left;
    cursor: pointer;
    border-radius: 0px;
    font-weight: bold;
    margin-bottom: 15px;
    transition: all 0.2s ease;
    height: 70px;
    font-size: 17px;
    color: white;
}

.tab-vertical:hover {
    background-color: #3b8ca6;
}

.tab-vertical.activa {
    background-color: white;
    color: #2f7891;
}


.tab-content-vertical {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
    border-radius: 0px;
    overflow-y: auto; /* scroll vertical */
}


.habitaciones-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px;
    padding: 20px 0;
}


@media (max-width: 768px) {
    .tabs-vertical-container {
        flex-direction: column;
    }

    .tabs-vertical {
        flex-direction: row;
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #ccc;
        justify-content: space-around;
        min-height: auto;
        box-shadow: none;
    }

    .tab-vertical {
        flex: 1;
        text-align: center;
        margin-bottom: 0;
        height: auto;
    }
}
